@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="d-flex flex-column align-items-center mt-5">


        <div class="d-flex flex-column my-3">

            <div class="form-group d-flex flex-column align-items-center">
                <input type="text" class="form-control" id="inputCF" placeholder="Inserisci Codice Fiscale" />
                <button id="cercaPerCF" class="btn btn-primary btn-sm w-100">Cerca per CF</button>
            </div>

            <hr />

            <div class="form-groupmt-4">
                <button id="numeroPensioneCompleta" class="btn btn-primary btn-sm w-100">Tot. Pensione Completa</button>
            </div>

        </div>
        <div id="risultatiAsync" class="my-4"></div>


    </div>


</main>

@section Scripts {

    <!-- Js per effettuare chiamate asincrone -->

    <script>
        /* stampa prenotazioni per codice fiscale */
        $(document).ready(function () {
            $('#cercaPerCF').click(function () {
                var codiceFiscale = $('#inputCF').val();
                fetch('/Home/CercaPrenotazioniPerCF?codiceFiscale=' + codiceFiscale)
                    .then(response => response.json())
                    .then(data => {
                        var contenuto = '<h4>Prenotazioni Trovate:</h4>';
                        if (data.length > 0) {
                            contenuto += '<ul>';
                            data.forEach(p => {
                                contenuto += `<li class="link-dark pb-2"><a class="link-dark" href="/Prenotazioni/Details/${p.IDPrenotazione}">Prenotazione ${p.AnnoPreno}-${p.IDPrenotazione} →</li>`;
                            });
                            contenuto += '</ul>';
                        } else {
                            contenuto += '<p>Nessuna prenotazione trovata per il codice fiscale inserito.</p>';
                        }
                        $('#risultatiAsync').html(contenuto);
                    });
            });

            /* stampa numero di prenotazioni pensione completa */
            $('#numeroPensioneCompleta').click(function () {
                fetch('/Home/NumeroPrenotazioniPensioneCompleta')
                    .then(response => response.json())
                    .then(data => {
                        $('#risultatiAsync').html(`<h4>Tot."Pensione Completa": ${data}</h4>`);
                    });
            });
        });
    </script>

}